# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace
.vscode/
npm-debug.log*

.idea/
.sass-cache/
.tmp/
.versions/
coverage/
dist/
node_modules/
tmp/
temp/
hooks/
platforms/
plugins/
plugins/android.json
plugins/ios.json
PREVIEW/
DESIGN/
RELEASE/
www/
pwa/
$RECYCLE.BIN/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate


.vscode/
.DS_Store

# ionic
node_modules/
plugins/

# Platform iOS
*.mode1v3
*.perspectivev3
*.pbxuser
platforms/ios/build

# Platform Android
platforms/android/build.xml
platforms/android/local.properties
platforms/android/gradlew
platforms/android/gradlew.bat
platforms/android/gradle

# Ant builds
platforms/android/ant-build
platforms/android/ant-gen

# Eclipse builds
platforms/android/gen
platforms/android/out

# Gradle builds
platforms/android/build
